@model system_oceny.Models.Firma
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        DZIAŁAJ DZIWKO!!!!!!!!!
        
        <p>Id: @Model.Id</p>
        <p>Branża: @Model.Branza</p>
        <p>Nazwa: @Model.Nazwa</p>
        <p>Opis: @Model.Opis</p>
    </div>
</body>
</html>
