
@model IEnumerable<system_oceny.Models.Firma>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        DZIAŁAJ DZIWKO!!!!!!!!!
        Test gitHuba
        <table>
            <tr>
            <td>Id</td>
            <td>Branza</td>
            <td>Nazwa</td>
            <td>Opis</td>
            </tr>
            @foreach (var wiersz in Model)
            {
                <tr>
                <td>@wiersz.Id</td>
                <td>@wiersz.Branza</td>
                <td>@wiersz.Nazwa</td>
                <td>@wiersz.Opis</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
