@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Marcin Gołda:</strong>   <a href="mailto:marcingolda0@gmail.com">marcingolda0@gmail.com</a><br />
    <strong>Michał Hankus:</strong> <a href="mailto:michal.hankus@vp.pl">michal.hankus@vp.pl</a>
</address>